<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
	<listeners>
		<listener class-name="com.qa.listeners.Listeners"></listener>
	</listeners>
  <test name="Automation Test Caes">
    <classes>
      <class name="com.qa.testcases.SearchTest"/>
 <!-- 
      <class name="com.qa.testcases.Login"/>
      <class name="com.qa.testcases.Search"/> 
   -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
